nav ul a,
nav .brand-logo {
    color: #3f3f3f;
}

p {
    line-height: 2rem;
}

.button-collapse {
    color: #3f3f3f;
}

.icon-block {
    padding: 0 15px;
}
.icon-block .material-icons {
    font-size: inherit;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

nav{
    background-color: #e1eaff;
}
.login-container{
    margin-top: 5%;
}
@media only screen and (max-width : 600px) {
    .login-container{
        margin-top: 5%;
    }
}
.btn-bold{
    font-size: 1.5em;
}
.btn-large{
    background-color: #c9e9bd;
    font-weight: bold;
    color: #3f3f3f;
}
.btn-login{
    font-size:1.5em;
}
.btn-large:hover{
    background-color: #009528;
    color: white;
}
.btn-large:focus{
    background-color: #009528 !important;
    color: white
}
.btn-flat-custom{
    font-weight: bold;
    color: #3f3f3f;
    font-size: 1.5em;
    text-align: center;
}
.input-login{
    background-color: rgba(0,0,0,0.2) !important;
    border-radius: 2px !important;
    font-weight: bold;
    color: white !important;
    font-size: 1.5em !important;
}
.dark-blue{
    background-color: #001749 !important;
}
.input-login:focus{
    border-bottom: 1px solid white !important;
    -webkit-box-shadow: 0 1px 0 0 white !important;
    -moz-box-shadow: 0 1px 0 0 white !important;
    box-shadow: 0 1px 0 0 white !important;
}
.input-normal{
    color: #001749 !important;
}
.logo{
    height: 60px;
    padding-top: 4px;
}

.input-normal:focus{
    border-bottom: 1px solid #001749 !important;
    -webkit-box-shadow: 0 1px 0 0 #001749 !important;
    -moz-box-shadow: 0 1px 0 0 #001749 !important;
    box-shadow: 0 1px 0 0 #001749 !important;
}

#slider {
    margin-top:50px;
    width: 100%;
    border: none;
}

.collection-normal{
    color: #001749 !important;
}
.collection-normal:active, .collection .collection-item.active{
    background-color: #001749 !important;
    color: white !important;

}
.noUi-handle{
    width:70px!important;
    height:50px !important;
    left:50%!important;
    border-radius: 35px!important;
    margin-left: -35px!important;
    margin-top: -5px!important;
}
.noUi-handle:before, .noUi-handle:after{
    width: 30px!important;
    left: 50%!important;
    margin-left: -15px!important;
    margin-top: 5px !important;
}
.noUi-origin{
    width:100%!important;
}
.noUi-base {
    background-color: #001749;
}
.arrow-up
{
    position: absolute;
    top:30%;
    left:50%;
    margin-left:-40px;
    margin-top: -40px;
    font-size: 80px !important;
}
.arrow-down
{
    position: absolute;
    top:70%;
    left:50%;
    margin-left:-40px;
    margin-top: -40px;
    color:#fff;
    font-size: 80px !important;
}
.question-value
{
    position: absolute;
    width:100%;
    text-align: center;
    height:40px;
    line-height: 40px;
    top:50%;
    margin-top: -20px;
}
.questionHeader
{
    text-align: center;
}
.noUi-connect{
    background-color: #FAFAFA!important;
}
.collection-header h4{
    display: inline-block;
}

.switch-title{
    font-weight: bold;
    color: white !important;
    font-size: 1.5em !important;
}