
nav ul a,
nav .brand-logo {
    color: white;
}

p {
    line-height: 2rem;
}

.button-collapse {
    color: white;
}

.icon-block {
    padding: 0 15px;
}
.icon-block .material-icons {
    font-size: inherit;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

nav{
    background-color: #333;
}
.login-container{
    margin-top: 15%;
}
@media only screen and (max-width : 600px) {
    .login-container{
        margin-top: 25%;
    }
}
.btn-bold{
    font-size: 1.5em;
}
.btn-large{
    background-color: #333333;
    font-weight: bold;
    color: white;
}
.btn-login{
    font-size:1.5em;
}
.btn-large:hover{
    background-color: #888;
}
.btn-large:focus{
    background-color: #333333 !important;
}
.btn-flat{
    font-weight: bold;
    color: white;
    font-size: 1.5em;
    text-align: center;
}
.input-login{
    background-color: rgba(0,0,0,0.2) !important;
    border-radius: 2px !important;
    font-weight: bold;
    color: white !important;
    font-size: 1.5em !important;
}
.dark-blue{
    background-color: #1e5293 !important;
}
.input-login:focus{
    border-bottom: 1px solid white !important;
    -webkit-box-shadow: 0 1px 0 0 white !important;
    -moz-box-shadow: 0 1px 0 0 white !important;
    box-shadow: 0 1px 0 0 white !important;
}
.input-normal{
    color: #333 !important;
}
.input-normal:focus{
    border-bottom: 1px solid #333 !important;
    -webkit-box-shadow: 0 1px 0 0 #333 !important;
    -moz-box-shadow: 0 1px 0 0 #333 !important;
    box-shadow: 0 1px 0 0 #333 !important;
}

#slider {
    margin-top:50px;
    width: 100%;
    border: none;
}

.noUi-handle{
    width:40px!important;
    left:50%!important;
    border-radius: 20px!important;
    margin-left: -20px!important;
}
.noUi-handle:before, .noUi-handle:after{
    width: 30px!important;
    left: 50%!important;
    margin-left: -15px!important;
}
.noUi-origin{
    width:100%!important;
}
.noUi-base
{
    background-color: #1e5293;
}
.noUi-connect{
    background-color: #FAFAFA!important;
}
.collection-header h4{
    display: inline-block;
}
