<div class="container">
    <div class="card">
        <div class="row">
            <div class="col m4 s12">
                <div class="collection" style="margin: 0;">
                    <a class="collection-item black-text"
                       ng-repeat="category in $ctrl.categories" ng-click="$ctrl.setCategory(category)" style="cursor: pointer">{{category.category}}</a>
                </div>
            </div>
            <div class="col m8 s12">
                <div class="card-content">
                    <div class="chart-container">
                        <canvas id="chart" width="400" height="400"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>