<nav class="white" role="navigation">
    <div class="nav-wrapper container">
        <a id="logo-container" ui-sref="home" class="brand-logo right">MDef</a>
        <ul class="left">
            <li><login-buttons></login-buttons></li>
        </ul>

        <ul id="nav-mobile" class="side-nav">
            <li><a ui-sref="home">Home</a></li>
            <li><a ui-sref="log">Log</a></li>
        </ul>
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
</nav>